@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "Roboto";
    src: url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');
}

@font-face {
    font-family: "Poppins";
    src: url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #2e1e45;
    --color2: #959595;
    --color3: #003751;
    --cinzaClaro: #b6b6b6;
    --color5: #005471;
    --color6: #003751;
    --cor_de_fundo: #002941;
    --color8: #004661;
    --color9: #b5b5b5;
}

body {
    background-color: var(--cor_de_fundo);
    color: var(--color2);
    font-family: "Roboto",sans-serif, Arial;
}

header{
    background-color: var(--color5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    color: white;
    padding: 10px;
}

#Music-container {
    display: none;
}

#Music-container p {
    text-align: center;
    font-family: "Poppis",Arial, sans-serif;
}

#Music-container button{
    background-color: inherit;
    font-size: 1.7em;
    border: none;
    border-radius: 15px;
    color: var(--color2);
    margin: 7.5px 20px;
    cursor: pointer;
    transition: .2s;
}

#Music-container button:hover {
    color: var(--cinzaClaro);
    transition: .2s;
}

#menu {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 3px solid var(--cor_de_fundo);
    margin-bottom: 10px;
    background-color: var(--color5);
}

#menu nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: .5s;
    font-size: 1.12rem;
}

#menu nav a:hover{
    color: var(--color2);
    transition: .5s;
}

#menu .Search-bar {
    background-color: var(--color3);
    border: none;
    box-shadow: rgba(100, 100, 111, 0.445) 0px 7px 29px 0px;
    height: 2rem;
    border-radius: 25px;
    width: 305px;
    padding-left: 10px;
    transition: .5s;
    font-family: "Poppins", "Roboto";
}

#menu .Search-bar:hover {
    background-color: var(--cor_de_fundo);
    transition: .2s;
}

#menu .Search-bar::-webkit-input-placeholder{
    color: var(--color9);
    padding: 5px;
    transition: .5s;
}

#menu .Search-bar::before::-webkit-input-placeholder{
    content: "#f6ba";
}

#menu .Search-bar:hover::-webkit-input-placeholder, #menu .Search-bar:focus-visible::-webkit-input-placeholder{
    color: white;
    transition: .4s;
    padding: 7.5px;
}

#menu .Search-bar:focus-visible {
    outline: none;
    background-color: var(--color3);
    transition: .5s;
    color: white;
}

main {
    background-color: var(--color5);
    max-width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.recommend {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: auto;

    border: 2px solid var(--cor_de_fundo);
    border-radius: 5px;
    margin: 5px auto 10px;
    padding: 5px;
    position: relative;
}

.container-conteudo {
    display: flex;
    width: 80%;
    margin:  10px auto 0;
    position: relative;
    overflow: auto;
}



.container-conteudo::-webkit-scrollbar {
    background-color: #004661;
    border-radius: 15px;
    height: 10px;
}

.container-conteudo::-webkit-scrollbar-thumb {
    background-color: #2e1e45;
    border-radius: 15px;
}

.recommend-item {
    width: 120px;
    margin: 0 5px 5px;
    height: 200px;
    padding: 10px ;
    font-size: .8rem;
    transition: .2s;
    position: inherit;
    background-color: #003751;
}

.recommend-item:hover {
    border: 1px solid black;
    transition: .2s;
}

.recommend-item img {
    width: 90px;
    object-fit: cover;
}

.recommend-item a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommend-item > a > div > p:nth-child(2) {
    color: var(--cinzaClaro);
    font-size: .7rem;
}


.recommend-item a p {
    transform: translateY(5px);
    font-size: .8rem;

}

.recommend .chapter {
    position: absolute;
    background-color: var(--color1);
    font-size: .75rem;
    width: 1.5rem;
    height: 1.2rem;
    text-align: center;
    border-radius: 5px;
    right: 5px;
    top: 0px;
    padding: 2.5px;
}
